$font1: "Roboto", sans-serif;
$font2: 'News Cycle', "Roboto", sans-serif;;
$resolution: 1920;
$resolution2: 1080;


a{
	text-decoration: none;
}
*:focus{
	outline: none;
}
html{
	width: 100%;
	height: 100%;
}

body{
	font-family: $font1;
	margin: 0;
	font-size: 1vw;
	width: 100%;
	overflow-x: hidden;
	background: #2A2A2A;
	color: #FFFFFF;
	height: 100%;
}

.container{
	width: vw(1164);
	margin-left: vw(506);
	padding-top: vw(117);
	position: relative;
	z-index: 20;
	padding-bottom: vw(88);
	@include mobile{
		width: vw2(918);
		padding-top: vw2(150);
		padding-bottom: vw2(180);
		margin-left: vw2(135);
	}
}

.wrapper{
	overflow: hidden;
	width: 100%;
	position: relative;
	min-height: 100%;
	&::before{
		content: "";
		width: 100%;
		height: 100%;
		background: url("../img/bg_lines.svg") left vw(-332) top repeat-y;
		background-size: vw(2659) auto;
		display: block;
		position: absolute;
		left: 0;
		top: vw(580);
		z-index: -1;
		@include mobile{
			background: url("../img/bg_lines_2.svg") left vw2(-119) top repeat-y;
			background-size: vw2(1302) auto;
			top: vw2(1036);
		}
	}
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	@include mobile {
		width: 100%;
		height: vw2(110);
		background: #2a2a2a;
		display: flex;
		align-items: center;
	}
	&__menu{
		list-style: none;
		padding: vw(5) 0 0;
		margin: 0 0 0 vw(384);
		display: flex;
		align-items: center;
		@include mobile {
			padding: 0;
			margin-left: vw2(333);
		}
		li{
			+li{
				margin-left: vw(27);
				@include mobile{
					margin-left: vw2(24);
				}
			}
		}
		a{
			font-weight: 300;
			font-size: vw(32);
			color: #fff;
			position: relative;
			display: flex;
			align-items: center;
			@include mobile{
				font-size: vw2(40);
			}
			&::before{
				content: "";
				display: block;
				width: vw(17);
				height: vw(63);
				background: #872C1C;
				box-sizing: border-box;
				margin-right: vw(5);
				transition: 0.3s ease;
				@include mobile{
					height: vw2(63);
					width: vw2(17);
					margin-right: vw2(5);
				}
			}
			&.active{
				&::before{
					background: #ed4f34;
					border: 1px solid #fff;
				}
			}
			&:hover{
				&::before{
					background: #ed4f34;
				}
			}
		}
	}
}

.static{
	position: fixed;
	display: block;
	&_mob-1{
		display: none;
		@include mobile{
			display: block;
			width: vw2(201);
			top: vw2(97);
			left: vw2(124);
		}
	}
	&_1{
		left: vw(264);
		top: vw(77);
		z-index: 3;
		width: vw(1477);
		opacity: 0.63;
		@include mobile{
			display: none;
		}
	}
	&_2{
		width: vw(243);
		left: vw(116);
		top: vw(117);
		z-index: 1;
		opacity: 0.7;
		@include mobile{
			width: vw2(82);
			height: 90vh;
			top: 5vh;
			left: vw2(32);
		}
	}
	&_3{
		width: vw(702);
		left: vw(472);
		top: vw(33);
		z-index: 2;
		@include mobile{
			display: none;
		}
	}
	&_4{
		width: vw(974);
		left: vw(1419);
		top: vw(-370);
		z-index: 4;

		@include mobile{
			width: vw2(974);
			left: vw2(809);
			top: vw2(-270);
		}
	}

	&_5{
		width: vw(386);
		left: vw(37);
		top: vw(-27);
		height: vw(540);
		z-index: 0;

		@include mobile{
			display: none;
		}
	}

	&_6{
		width: vw(201);
		left: vw(140);
		top: vw(213);
		z-index: 5;

		@include mobile{
			display: none;
		}
	}
	&_7{
		font-weight: bold;
		font-size: vw(156);
		line-height: vw(205);
		color: #ed4f34;
		opacity: 0.66;
		left: vw(199);
		top: vw(180);
		z-index: 5;

		@include mobile{
			display: none;
		}
	}
	&_8{
		left: vw(113);
		top: vw(353);
		z-index: 5;

		@include mobile{
			display: none;
		}
		span{
			display: block;
			&:nth-child(1){
				font-weight: 300;
				font-size: vw(57);
				text-align: left;
				color: #fff;
				opacity: 0.53;
				line-height: vw(75);
			}
			&:nth-child(2){
				font-family: $font2;
				font-weight: normal;
				font-size: vw(42);
				letter-spacing: 0.25em;
				text-align: left;
				color: #fff;
				opacity: 0.53;
				margin-left: vw(45);
				margin-top: vw(-15);
			}
		}
	}

}

.content-page{
	&_1{
		.container{
			width: vw(1146);
			margin-left: vw(517);
			margin-top: vw(-93);
			@include mobile{
				margin-top: vw2(80);
				width: vw2(918);
				margin-left: vw2(135);
			}
		}
	}
	&_2{
		.container{
			@include mobile{
				width: vw2(960);
				margin-left: vw2(55);
			}
		}
	}
	&_3{
		.container{
			@include mobile{
				width: vw2(733);
				margin-left: vw2(242);
			}
		}
	}
}


.first-screen{
	position: relative;
	z-index: 1;
	height: vw(1080);

	@include mobile{
		height: 100vh;
		min-height: vw2(1300);
	}

	.static{
		position: absolute;
		&_1{
			opacity: 1;
			@include mobile{
				display: block;
				width: vw2(1481);
				left: vw2(153);
				top: vw2(306);
				z-index: 5;
			}
		}
		&_2{
			top: vw(168);
			opacity: 1;
			@include mobile{
				position: fixed;
				opacity: 0.7;

			}
		}
		&_3{
			@include mobile{
				display: block;
				width: vw2(702);
				top: vw2(117);
				left: vw2(472);
			}
		}
		&_4{}
	}
	&__date{
		font-family: $font2;
		font-weight: normal;
		font-size: vw(73);
		text-align: left;
		color: #e5e5e5;
		position: relative;
		padding-left: vw(53);
		padding-top: vw(88);
		margin-left: vw(64);
		z-index: 5;
		@include mobile{
			padding-left: vw2(53);
			padding-top: vw2(180);
			margin-left: vw2(64);
			font-size: vw2(73);
		}
		&::after{
			content: "";
			display: block;
			width: vw(910);
			height: vw(11);
			background: #555;
			opacity: 0.9;
			margin-top: vw(-7);
			position: relative;
			left: vw(-53);
			z-index: -1;
			@include mobile{
				margin-top: vw2(-7);
				left: vw2(-53);
				width: vw2(910);
				height: vw2(11);
			}
		}
	}
	&__mob-1{
		display: none;
		@include mobile{
			position: absolute;
			width: vw2(258);
			left: vw2(308);
			top: vw2(588);
			display: block;
		}
	}
	&__mob-2{
		display: none;
		@include mobile{
			position: absolute;
			width: vw2(481);
			left: vw2(115);
			bottom: vw2(-90);
			display: block;
		}
	}

	&__mob-3{
		display: none;
		@include mobile{
			display: block;
			position: absolute;
			width: vw2(595);
			right: vw2(-44);
			top: auto;
			bottom: vw2(115);
			z-index: 10;
		}
	}
	&__mob-4{
		display: none;
		@include mobile{
			display: block;
			position: absolute;
			width: vw2(23);
			left: vw2(865.5);
			top: vw2(526.7);
			z-index: 11;
		}
	}
	&__1{
		position: absolute;
		width: vw(421);
		left: vw(403);
		top: vw(281);
		z-index: 1;
		@include mobile{
			display: none;
		}
	}
	&__2{
		position: absolute;
		width: vw(509);
		left: vw(115);
		top: vw(891);
		@include mobile{
			display: none;
		}
	}
	&__3{
		position: absolute;
		width: vw(595);
		right: vw(10);
		top: vw(879);
		z-index: 10;
		@include mobile{
			display: none;
		}
	}
	&__5{
		position: absolute;
		width: vw(553);
		top: vw(181);
		left: vw(835);
		z-index: 10;
		@include mobile{
			width: vw2(553);
			height: vw2(681);
			z-index: 1;
			left: vw2(468);
			top: vw2(405);
		}
	}
	&__6{
		position: absolute;
		width: vw(302);
		left: vw(962);
		top: vw(298);
		z-index: 11;
		@include mobile{
			width: vw2(302);
			z-index: 2;
			left: vw2(595);
			top: vw2(522);
		}
	}
	&__7{
		font-weight: bold;
		font-size: vw(252);
		text-align: left;
		color: #ed4f34;
		position: absolute;
		left: vw(1046);
		top: vw(250);
		z-index: 12;
		@include mobile{
			z-index: 6;
			font-size: vw2(252);
			left: vw2(679);
			top: vw2(480);
		}
	}
	&__8{
		position: absolute;
		z-index: 13;
		left: vw(797);
		top: vw(480);
		@include mobile{
			z-index: 6;
			left: vw2(430);
			top: vw2(704);
		}
		span{
			display: block;
			&:nth-child(1){
				line-height: vw(184);
				font-weight: 300;
				font-size: vw(139);
				text-align: left;
				color: #000;
				@include mobile{
					line-height: vw2(184);
					font-size: vw2(139);
				}
			}
			&:nth-child(2){
				font-family: $font2;
				font-weight: normal;
				font-size: vw(68);
				letter-spacing: 0.25em;
				text-align: left;
				color: #000;
				margin-left: vw(269);
				margin-top: vw(-40);
				@include mobile{
					font-size: vw2(68);
					margin-top: vw2(-40);
					margin-left: vw2(269);
				}
			}
		}
	}
	&__images{
		display: flex;
		position: absolute;
		left: vw(630);
		top: vw(750);
		z-index: 11;
		transform: rotate(-18deg);
		@include mobile{
			display: none;
		}
	}
	&__image{
		width: vw(246);
		height: vw(138);
		+ div{
			margin-left: vw(13);
		}
		img{
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			filter: saturate(0);
		}
	}
}

.second-screen{
	padding-top: vw(115);
	@include mobile{
		padding-top: vw2(50);
		.container{
			padding-top: 0;
		}
	}
	.statics{
		position: relative;
		@include mobile{
			display: none;
		}
	}
	.static{
		position: absolute;
	}
}



.movie-block{
	$self: &;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	+.movie-block{
		margin-top: vw(144);
		@include mobile{
			margin-top: vw2(300);
		}
	}
	&__left{
		width: vw(206);
		padding-top: vw(93);
		@include mobile{
			display: none;
		}
	}
	&__btn{
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 300;
		font-size: vw(25);
		text-align: left;
		color: #fff;
		width: 100%;
		height: vw(85);
		background: rgba(237, 79, 52, 0.7);
		border: vw2(4) solid rgba(255, 255, 255, 0.53);
		box-sizing: border-box;
		transition: 0.3s ease;
		@include mobile{
			font-size: vw2(25);
			height: vw2(85);
			border-width: vw2(4);
			width: vw2(206);
		}
		&:hover{
			background: rgb(237, 79, 52);
		}
	}
	&__right{
		width: vw(921);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include mobile{
			width: 100%;
		}
	}
	&__date{
		height: vw(93);
		width: 100%;
		background: rgba(77, 77, 77, 0.74);
		border: 1px solid rgba(112, 112, 112, 0.74);
		box-sizing: border-box;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@include mobile{
			height: vw2(93);
			justify-content: space-between;
		}
		span{
			font-weight: 300;
			font-size: vw(38);
			text-align: right;
			color: #fff;
			padding: 0 vw(27);
			display: inline-block;
			@include mobile{
				padding: 0 vw2(16);
				font-size: vw2(38);
			}
		}
		h3{
			font-weight: 300;
			font-size: vw2(65);
			text-align: left;
			color: #fff;
			background: rgba(237, 79, 52, 0.71);
			padding: 0 vw2(13);
			line-height: vw2(81);
			display: none;
			@include mobile{
				display: inline-block;
			}
			&.fz51{
				font-size: vw2(51);
			}
		}
	}
	&__img{
		height: vw(514);
		width: 100%;
		position: relative;
		@include mobile{
			height: vw2(514);
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: saturate(0);
		}
		&::before{
			content: "";
			display: block;
			position: absolute;
			width: vw(21);
			height: 100%;
			background: #b24330;
			left: 0;
			top: 0;
			@include mobile{
				width: vw2(21);
			}
		}
		&::after{
			content: "";
			display: block;
			position: absolute;
			background: url("../img/video_after.svg") center center no-repeat;
			right: vw(27);
			top: vw(-14);
			width: vw(40);
			height: vw(483);
			background-size: contain;
			@include mobile{
				width: vw2(40);
				height: vw2(483);
				right: vw2(27);
				top: vw2(-14);
			}
		}
	}
	&__title{
		font-weight: 300;
		font-size: vw(65);
		text-align: left;
		color: #fff;
		background: rgba(237, 79, 52, 0.71);
		padding: 0 vw(13);
		margin-top: vw(8);
		@include mobile{
			display: none;
		}
	}
	&__info{
		margin-top: vw(5);
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		@include mobile{
			margin-top: vw2(15);
		}
	}
	&__staff{
		width: vw(227);
		padding: vw(15) vw(12) vw(100) vw(15);
		box-sizing: border-box;
		flex-shrink: 0;
		position: relative;
		@include mobile{
			width: vw2(332);
			padding: vw2(12) vw2(12) vw2(100) vw2(23);
		}
		&::before{
			content: "";
			width: 100%;
			height: 100%;
			background: url("../img/video_staff.png") center top no-repeat;
			background-size: 100% 100%;
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}
		h3{
			font-weight: 300;
			font-size: vw(18);
			text-align: left;
			color: #000;
			margin: 0;
			@include mobile{
				font-size: vw2(30);
			}
		}
		ul{
			list-style: none;
			font-weight: normal;
			font-size: vw(18);
			text-align: left;
			color: #000;
			line-height: vw(24);
			@include mobile{
				font-size: vw2(30);
				line-height: vw2(39);
			}
			+h3{
				margin-top: vw(24);
				@include mobile{
					margin-top: vw2(28);
				}
			}
		}
	}
	&__text{
		width: vw(660);
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding-top: vw(13);

		@include mobile{
			width: vw2(523);
			padding-top: vw2(13);
		}

		p{
			font-weight: 300;
			font-size: vw(21);
			text-align: left;
			color: #fff5d9;
			line-height: vw(28);
			@include mobile{
				font-size: vw2(30);
				line-height: vw2(39);
			}
		}
	}
	&__sponsor{
		width: vw(246);
		min-height: vw(135);
		background: url("../img/video_sponsor.svg") center top no-repeat;
		background-size: 100% auto;
		box-sizing: border-box;
		padding: vw(14) vw(13) 0;
		margin-top: vw(53);
		@include mobile{
			width: vw2(246);
			min-height: vw2(135);
			padding: vw2(14) vw2(13) 0;
			margin-top: vw2(100);
		}
		h3{
			font-weight: 300;
			font-size: vw(27);
			text-align: left;
			color: #fff;
			padding-left: vw(5);
			@include mobile{
				font-size: vw2(27);
				padding-left: vw2(5);
			}
		}
		div{
			font-weight: 300;
			font-size: vw(45);
			text-align: left;
			color: #fff;
			@include mobile{
				font-size: vw2(45);
			}
		}
	}

	&__mobile-row{
		display: none;
		justify-content: flex-end;
		margin-top: vw2(28);
		width: 100%;
		@include mobile{
			display: flex;
		}
	}

	&:nth-child(even){
		flex-direction: row-reverse;
		#{$self}__right{
			align-items: flex-end;
		}
		#{$self}__date{
			justify-content: flex-start;
			text-align: left;
			@include mobile{
				flex-direction: row-reverse;
				justify-content: space-between;
			}
		}
		#{$self}__img
		{
			&::before{
				left: auto;
				right: 0;
			}
			&::after{
				right: auto;
				left: vw(27);
				@include mobile{
					left: vw2(27);
				}
			}
		}
		#{$self}__title{
			text-align: right;
		}
		#{$self}__info{
			flex-direction: row-reverse;
		}
		#{$self}__staff{
			&::before{
				transform: scaleX(-1);
			}
		}
		#{$self}__text{
			align-items: flex-start;
		}
		#{$self}__mobile-row{
			@include mobile{
				justify-content: flex-start;
			}
		}
	}
}

.copy-block{
	padding: vw(17) vw(27) vw(25);
	background: #404040;
	display: inline-block;
	margin-top: vw(87);
	@include mobile{
		margin-top: vw2(42);
		padding: vw2(17) vw2(27) vw2(45);
	}
	&__info{
		font-weight: normal;
		font-size: vw(22);
		text-align: left;
		color: #8b8b8b;
		line-height: vw(29);
		@include mobile{
			font-size: vw2(22);
			line-height: vw2(29);
		}
		p+p{
			margin-top: vw(5);
			@include mobile{
				margin-top: vw2(4);
			}
		}
	}
	&__links{
		margin-top: vw(24);
		@include mobile{
			display: none;
		}
		p+p{
			margin-top: 3px;
		}
		a{
			font-weight: normal;
			font-size: vw(18);
			text-align: left;
			color: #8b8b8b;
			line-height: vw(24);
			&:hover{
				color: #b3b3b3;
			}
		}
	}
}



.target{
	p{
		font-weight: 300;
		font-size: vw(38);
		text-align: left;
		color: #fff5d9;
		line-height: vw(50);
		@include mobile{
			font-size: vw2(38);
			line-height: vw2(50);
		}
		+p{
			margin-top: 1em;
		}
		span{
			color: #ED4F34;
		}
	}
}


.about{
	$self: &;
	&__pagetitle{
		font-weight: 300;
		font-size: vw(65);
		text-align: left;
		color: #fff;
		margin-left: vw(-100);
		line-height: vw(86);
		margin-bottom: vw(15);
		@include mobile{
			font-size: vw2(65);
			margin-left: vw(-5);
			line-height: vw2(86);
			margin-bottom: vw2(15);
		}
	}
	&__img{
		width: vw(960);
		@include mobile{
			width: 100%;
		}
		img{
			width: 100%;
			filter: saturate(0);
			display: block;
		}
		&_2{
			margin-top: vw(48);
			@include mobile{
				margin-top: vw2(48);
			}
		}
		&_3{
			margin-top: vw(152);
			@include mobile{
				margin-top: vw2(152);
			}
		}
	}
	&__info{
		display: flex;
		&_1{
			#{$self}__right{
				@include mobile{
					display: none;
				}
			}
		}
		&_2{
			margin-top: vw(51);
			@include mobile{
				margin-top: vw2(51);
			}
		}
	}
	&__left{
		width: vw(280);
		flex-shrink: 0;
		@include mobile{
			width: vw2(280);
		}
		h3{
			font-weight: 300;
			font-size: vw(53);
			text-align: left;
			color: #fff;
			padding: vw(6) vw(12) vw(11);
			background: rgba(237, 79, 52, 0.7);
			display: inline-block;
			@include mobile{
				font-size: vw2(53);
				padding: vw2(6) vw2(12) vw2(11);
			}
		}
	}
	&__right{
		width: vw(670);
		padding-top: vw(8);
		margin-left: vw(18);
		@include mobile{
			width: vw2(670);
			padding-top: vw2(8);
			margin-left: vw2(18);
		}
		p {
			font-weight: 300;
			font-size: vw(21);
			text-align: left;
			color: #fff5d9;
			line-height: vw(28);

			@include mobile{
				font-size: vw2(21);
				line-height: vw2(28);
			}
		}
	}
	&__map{
		margin-top: vw(50);
		width: vw(960);
		height: vw(588);
		@include mobile{
			width: 100%;
			margin-top: vw2(50);
			height: vw2(588);
		}
		iframe{
			width: 100%;
			height: 100%;
		}
	}
}